@import './../../../styles/mixins.scss';

.arrow-back {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    top: 120px;
    color: $dark-color;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }
}