@import './../../../styles/mixins.scss';

.sign-up-page {
    @include displayFlex;
    height: 100%;
    .sign-up-wrapper {
        @include auth-wrapper;
        .sign-up-form {
            @include flex-col;
            .input-inf, .submit-sign-up {
                flex: 1 0 auto;
                margin: 0;
                outline: 0;
                overflow: hidden;
                padding: 9px 0 7px 8px;
                text-overflow: ellipsis;
                font-family: "Century-Gothic-Regular";
                font-size: 14px;
            }
            .input-inf {
                margin-bottom: 8px;
            }
            .submit-sign-up {
                margin-top: 8px;
                cursor: pointer;
                font-size: 16px;
            }
            .input-feedback {
                font-size: 12px;
                color: $errors;
                line-height: 16px;
            }
        }
        .email-to-use {
            color: $errors;
            margin-top: 24px;
            font-family: "Century-Gothic-Regular";
        }
    }
}