@import './../../../styles/mixins.scss';

.authorization-page {
    @include displayFlex;
    height: 100%;
    .btn-auth {
        @include displayFlex;
        height: fit-content;
        padding: 24px;
        outline: none;
        border: 1px solid $main-color;
        border-radius: 35px;
        font-size: 18px;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}