@import './../../../styles/mixins.scss';

.authorization-page {
    @include displayFlex;
    height: 100%;
    .auth-sign-in {
        @include auth-wrapper;
    }
    .auth-another-way {
        overflow: hidden;
        text-align: center;
        font-family: 'Century-Gothic-Regular';
        font-size: 14px;
        line-height: 16px;
        margin: 24px 0px;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 1px;
            background-color: #D3DFEF;
            position: relative;
        }
            &:before {
                margin-left: -100%;
                left: -14px;
            }
            &:after {
                margin-right: -100%;
                right: -14px;
            }
    }
}