.invitation {
    font-family: "Century-Gothic-Regular";
    font-size: 16px;
    margin-top: 24px;
    a {
        text-decoration: none;
        font-weight: bold;
        color: darkblue;
    }
}